.waiting{
    color: #e9b200;
}

.accepted{
    color: rgb(2, 114, 2);
}

.rejected{
    color: #666565;
}

button {
  transform: skewX(173deg);
}

.btn-danger {
  background-color: rgb(238, 0, 0);
  border: 1.5px solid #c41a20;
}

.btn-danger:hover {
  background-color: #e52026;
  border: 2px solid #8a1418;
}
