<div class="background">
    <div class="container profile pt-5">
        <div class="row gutters-sm">
            <div *ngFor="let new of news" class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                <!-- PONER IMAGEN: recordar la ruta: urlBack + new?.photo   -->
                    <img class="img-fluid rounded-start" [alt]="new?.username">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text mb-3"><small class="text-muted">Fecha de creación: </small></p>
                        <h5 class="card-title">{{new?.username}}</h5>
                        <p class="card-text">{{new?.summary}}</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button [routerLink]="['/deportista/', new.fk_athletes]" routerLinkActive="router-link-active"  class="btn btn-danger" type="button">Ver deportista</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>