<div class="container-fluid pt-5">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-3
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">Portfolio</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table tabla">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Deporte</th>
              <th>Edad</th>
              <th>Pais</th>
              <th class="text-right">Tokens adquiridos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Michael Phelps</td>
              <td>Natación</td>
              <td>36</td>
              <td>Estados Unidos</td>
              <td class="text-right">35</td>
            </tr>
            <tr>
              <td>Rafael Nadal</td>
              <td>Tenis</td>
              <td>35</td>
              <td>España</td>
              <td class="text-right">15</td>
            </tr>
            <tr>
              <td>Roger Federer</td>
              <td>Tenis</td>
              <td>38</td>
              <td>Suiza</td>
              <td class="text-right">20</td>
            </tr>
            <tr>
              <td>Cristiano Ronadol</td>
              <td>Fútbol</td>
              <td>35</td>
              <td>Portugal</td>
              <td class="text-right">30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-chart-pie></app-chart-pie>
    </main>
  </div>
</div>
