<div class="container-fluid pt-2">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-5
          pb-2
          mb-2
          border-bottom
        "
      >
        <h1 class="h2">Portfolio</h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Compartir
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Exportar
            </button>
          </div>
        </div> -->
      </div>
      <div class="table-responsive">
        <table class="table tabla">
          <thead>
            <tr>
              <th class="text-center">Nombre</th>
              <th class="text-center">Deporte</th>
              <th class="text-center">Edad</th>
              <th class="text-center">País</th>
              <th class="text-center">Tokens adquiridos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let myAthlete of myAthletes">
              <td class="text-center">{{myAthlete?.name}} {{myAthlete?.surname}}</td>
              <td class="text-center">{{myAthlete?.sport}}</td>
              <td class="text-center">{{myAthlete?.age}}</td>
              <td class="text-center">{{myAthlete?.country}}</td>
              <td class="text-center">{{myAthlete?.participations}}</td>
              <td class="text-right">
                <button routerLinkActive="active" [routerLink]="['/deportista', myAthlete?.fk_athletes]" type="submit" class="btn btn-danger btn-round">
                Ver Ficha
                </button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-chart-pie [athletes]="myAthletes"></app-chart-pie>
    </main>
  </div>
</div>
