.register {
  height: 100vh;
}

.register div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register div:first-child {
  border-right: 2px solid #444;
}

.deportistas {
  background-image: url("../../../assets/img/corriendo-blanco.jpg");
  background-size: cover;
  display: flex;
  position: center center;
}

.sponsors {
  background-image: url("../../../assets/img/ordena-blanc.jpg");
  background-size: cover;
  position: center center;
}

button {
  background-color: transparent;
  border: none;
  transform: skewX(173deg);
  font-weight:500;
  font-size: 50px;
  color:#e52026;
  background-color:transparent
}

button:hover {
  background-color: #e52026;
  color:whitesmoke;

}
