.register {
  height: 100vh;
}

.register div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register div:first-child {
  border-right: 2px solid #444;
}

.deportistas {
  background-image: url("https://cdn.pixabay.com/photo/2017/05/25/15/08/jogging-2343558_960_720.jpg");
  background-size: cover;
  display: flex;
  position: center center;
}

.sponsors {
  background-image: url("https://cdn.pixabay.com/photo/2020/11/27/16/59/man-5782411_960_720.jpg");
  background-size: cover;
  position: center center;
}

button {
  background-color: #e52026;
}
