<div class="container-fluid pt-4">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="
          d-flex
          justify-content-between
          flex-wrap flex-md-nowrap
          align-items-center
          pt-5
          pb-2
          mb-3
          border-bottom
        "
      >
        <h1 class="h2">My Watchlist</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Share
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              Export
            </button>
          </div>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary dropdown-toggle"
          >
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <div class="col-12 d-flex watchlist">
        <table class="table">
          <thead>
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>Rendimiento</th>
              <th>Deporte</th>
              <th>Edad</th>
              <th>Pais</th>
              <th class="text-right">Precio por token</th>
              <th class="text-right">Tokens en venta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/michael.jpg"
                  alt=""
                />
              </td>
              <td class="nom-perfil"><p>Michael Phelps</p></td>

              <td>
                <img src="../../../assets/img/graficas/grafica1.png" alt="" />
              </td>
              <td>Natación</td>
              <td>36</td>
              <td>Estados Unidos</td>
              <td class="text-right">1.250€</td>
              <td class="text-right">600</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/rafa.jpg"
                  alt=""
                />
              </td>
              <td>Rafael Nadal</td>
              <td>
                <img src="../../../assets/img/graficas/grafica3.png" alt="" />
              </td>
              <td>Tenis</td>
              <td>35</td>
              <td>España</td>
              <td class="text-right">1.400€</td>
              <td class="text-right">400</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/usaint.jpg"
                  alt=""
                />
              </td>
              <td>Usain Bolt</td>
              <td>
                <img src="../../../assets/img/graficas/grafica2.png" alt="" />
              </td>
              <td>Atletismo</td>
              <td>33</td>
              <td>Jamaica</td>
              <td class="text-right">750€</td>
              <td class="text-right">250</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/federer.jpg"
                  alt=""
                />
              </td>
              <td>Roger Federer</td>
              <td>
                <img src="../../../assets/img/graficas/grafica5.png" alt="" />
              </td>
              <td>Tenis</td>
              <td>38</td>
              <td>Suiza</td>
              <td class="text-right">1.700€</td>
              <td class="text-right">120</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/tiger.jpg"
                  alt=""
                />
              </td>
              <td>Tiger Woods</td>
              <td>
                <img src="../../../assets/img/graficas/grafica4.png" alt="" />
              </td>
              <td>Golf</td>
              <td>44</td>
              <td>Estados Unidos</td>
              <td class="text-right">1.750€</td>
              <td class="text-right">50</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/mesi.jpg"
                  alt=""
                />
              </td>
              <td>Lionel Messi</td>
              <td>
                <img src="../../../assets/img/graficas/grafica3.png" alt="" />
              </td>
              <td>Fútbol</td>
              <td>32</td>
              <td>Argentina</td>
              <td class="text-right">2.250€</td>
              <td class="text-right">10</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/cristiano.jpg"
                  alt=""
                />
              </td>
              <td>Cristiano Ronaldo</td>
              <td>
                <img src="../../../assets/img/graficas/grafica6.png" alt="" />
              </td>
              <td>Fútbol</td>
              <td>35</td>
              <td>Portugal</td>
              <td class="text-right">3.000€</td>
              <td class="text-right">15</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/marc.jpg"
                  alt=""
                />
              </td>
              <td>Marc Márquez</td>
              <td>
                <img src="../../../assets/img/graficas/grafica5.png" alt="" />
              </td>
              <td>Motociclismo</td>
              <td>27</td>
              <td>España</td>
              <td class="text-right">750€</td>
              <td class="text-right">300</td>
            </tr>

            <tr>
              <td>
                <img
                  class="iconowatch"
                  src="../../../assets/img/deportistas-watchlist/lebron.jpg"
                  alt=""
                />
              </td>
              <td>Lebron James</td>
              <td>
                <img src="../../../assets/img/graficas/grafica4.png" alt="" />
              </td>
              <td>Baloncesto</td>
              <td>35</td>
              <td>Estados Unidos</td>
              <td class="text-right">1.750€</td>
              <td class="text-right">65</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
