.card-user {
  -webkit-box-shadow: 7px 14px 13px 7px rgba(115, 108, 115, 1);
  -moz-box-shadow: 7px 14px 13px 7px rgba(115, 108, 115, 1);
  box-shadow: 7px 14px 13px 7px rgba(115, 108, 115, 1);
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #d4d9da;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #1c65a0 !important;
  border-color: #164d7a !important;
  font-weight: 600;
}
