
<div class="container mt-5 me-5">
  <div class="row pt-5">
    <app-sidebar></app-sidebar>
    <div class="col-md-9 col-lg-6 offset-xl-0 col-xl-8 offset-md-3 offset-lg-0">
      <h1 class="mb-4">Publica tus logros y progresos</h1>
      <div class="card card-user">
        <div class="card-header pb-2 pt-3">
          <h4>¡Anímate a compartir tus logros!</h4>
        </div>
        <div class="card-body">
          <form #newsForm="ngForm" (ngSubmit)="onSubmit(newsForm)" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
                ngModel name="username"
                >
            </div>
            <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label class="h6">¡Una imagen vale más que mil palabras!</label>
                  <input
                    type="file"
                    (change)="recogerImagen($event)"
                    class="form-control"
                  />
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text">Cuéntanos tu triunfo</span>
                <textarea class="form-control" aria-label="With textarea"
                ngModel name="summary"
                >
                </textarea>
            </div>
            <span>Fecha de creación</span><br>
            <div class="input-group">
              <input class="form-control mt-2" type="date" ngModel name="date" id="date">
            </div>
            <div class="update ml-auto mr-auto mt-3">
                <button type="submit" class="btn btn-primary btn-round" (click)="alertConfirm()">
                    Publicar noticia
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

