<section class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-xl-12 p-3 filtros">
      <!-- OUTPUTS FILTROS-->
              <app-filtros
              (filtroPais)="onFiltroPais($event)"
              (filtroDeporte)="onFiltroDeporte($event)"
              (filtroInvertible)="onFiltroInvertible($event)"
              ></app-filtros>
              <form class="form-inline d-flex">
                  <label class="me-2 aling">Ordenar por :</label>
                  <div class="short-by">
                    <select
                    class="form-select basic-select select2-hidden-accessible"
                    data-select2-id="1"
                    tabindex="-1"
                    aria-hidden="true"
                    >
                    <option data-select2-id="3">% invertido</option>
                    <option>Fecha límite</option>
                  </select>
                </div>
            </form>
          </div>
  </div>
  <div class="container">
    <div class="col-lg-9">
      <div class="shortby ml-sm-auto d-flex align-items-left">
      </div>
    </div>


    <div class="blog-home2 py-5">
      <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-md-8 text-center">
            <h3 class="my-3">Nuestros deportistas</h3>
            <h5 class="subtitle font-weight-normal">
              Aquí puedes acceder a toda la información de nuestros deportistas
            </h5>
          </div>
          <!-- Column -->
          <!-- Column -->
        </div>
        <div class="row mt-4">
          <!-- Column -->
          <div class="col-md-4 on-hover" *ngFor="let deportista of deportistas">
            <div class="card border-0 mb-4">

              <div class="imagen-deportista" [ngStyle]="{'background-image': 'url('+ deportista?.photo +')'}" ></div>
              <!-- fecha limite -->
              <div
                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute"
              >
                Oct<span class="d-block">23</span>
              </div>
              <h2 class="font-weight-medium mt-3 text-center">
                <a [routerLink]="['/deportista', deportista.id]" href="#" class="text-decoration-none link"
                  >{{ deportista?.name }} {{ deportista?.surname }}</a
                >
              </h2>
              <div class="info text-center">
                <h4 class="mt-3">{{ deportista?.sport }}</h4>
                <h6 class="mt-3">País:</h6>
                <p>{{ deportista?.country }}</p>
                <h6 class="mt-3">Importe solicitado:</h6>
                <p>{{ deportista?.quantitydemand }} €</p>
                <h6 class="mt-3">Fecha límite:</h6>
                <p>{{ deportista?.limitdate | date: "dd/M/y" }}</p>
                <!-- porcentaje conseguido -->
                <h6 class="mt-3">% conseguido:</h6>
                <p>{{ deportista?.percentage }} %</p>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button [routerLink]="['/deportista', deportista.id]" routerLinkActive="router-link-active"  class="btn btn-danger" type="button">Ver ficha</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- 

<section class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-3">
       OUTPUTS FILTROS
      <app-filtros
        (filtroPais)="onFiltroPais($event)"
        (filtroDeporte)="onFiltroDeporte($event)"
        (filtroInvertible)="onFiltroInvertible($event)"
      ></app-filtros>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-9">
      <div class="shortby ml-sm-auto d-flex align-items-left">
        <form class="form-inline">
          <div class="form-group mb-0">
            <label class="justify-content-start me-5">Ordenar por :</label>
            <div class="short-by">
              <select
                class="form-control basic-select select2-hidden-accessible"
                data-select2-id="1"
                tabindex="-1"
                aria-hidden="true"
              >
                <option data-select2-id="3">% invertido</option>
                <option>Fecha límite</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="blog-home2 py-5">
      <div class="container">
        Row
        <div class="row justify-content-center">
          Column
          <div class="col-md-8 text-center">
            <h3 class="my-3">Nuestros deportistas</h3>
            <h5 class="subtitle font-weight-normal">
              Aquí puedes acceder a toda la información de nuestros deportistas
            </h5>
          </div>
          Column
          Column
        </div>
        <div class="row mt-4">
          Column
          <div class="col-md-4 on-hover" *ngFor="let deportista of deportistas">
            <div class="card border-0 mb-4">

              <div class="imagen-deportista" [ngStyle]="{'background-image': 'url('+ deportista?.foto +')'}" ></div>
              fecha limite
              <div
                class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute"
              >
                Oct<span class="d-block">23</span>
              </div>
              <h2 class="font-weight-medium mt-3 text-center">
                <a [routerLink]="['/deportista', deportista.id]" href="#" class="text-decoration-none link"
                  >{{ deportista?.nombre }} {{ deportista?.apellidos }}</a
                >
              </h2>
              <div class="info text-center">
                <h4 class="mt-3">{{ deportista?.deporte }}</h4>
                <h6 class="mt-3">País:</h6>
                <p>{{ deportista?.pais }}</p>
                <h6 class="mt-3">Importe solicitado:</h6>
                <p>{{ deportista?.dinero }} €</p>
                <h6 class="mt-3">Fecha límite:</h6>
                <p>{{ deportista?.fecha | date: "dd/M/y" }}</p>
                porcentaje conseguido
                <h6 class="mt-3">% conseguido:</h6>
                <p>{{ deportista?.porcentaje }} %</p>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button [routerLink]="['/deportista', deportista.id]" routerLinkActive="router-link-active"  class="btn btn-danger" type="button">Ver ficha</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
