.hero {
  height: 100vh;
  background-image: url("../../../assets/img/Bici.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  background-color: grey;
}

.hero h1 {
  color: white;
}
.hero h4 {
  color: white;
}

.hero button {
  margin-top: 30px;
  background-color: #e52026;
}
