<div class="wrapper login">
    <h2>Introduce la cantidad de tokens que deseas poner a la venta</h2>
    <div id="formContent">
      <form class="p-3 d-flex flex-column align-items-center" [formGroup]="registerTokens" (ngSubmit)="onSubmit()">
        <span>Tus derechos de imagen representan un total de 1000 tokens.</span>
        <label for="tokens">¿Cuántos tokens deseas poner a la venta?</label>
        <input class="form-control" type="number" id="tokens" formControlName="tokens"
        >
        <label class="mt-3">Fecha de expiración de la oferta:</label>
        <input
          type="date"
          class="form-control"
          id="limitdate"
          formControlName="limitdate"
        />
        <div class="form-group mb-3">
          <input
            type="checkbox"
            name="condiciones"
            id="condiciones"
            formControlName="condiciones"
          />
          <label class="mt-3" for="condiciones"
            >Acepto las condiciones.</label
          >
          <p
            class="text-danger"
            *ngIf="checkControl('condiciones', 'required')"
          >
            Debes aceptar las condiciones de uso para poder continuar
          </p>
        </div>
        <input
        type="submit"
        class="btn btn-danger"
        value="Registrar tokens"
        [disabled]="!registerTokens.valid"
      />
      </form>
    </div>
  </div>

