<div class="container-fluid pt-5">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-5">
        <ul class="nav flex-column">
          <li class="nav-item" *ngIf="!isAthlete">
            <a
              [routerLink]="['/dashboard']"
              routerLinkActive="active"
              class="nav-link"
              href="#"
            >
              <span data-feather="users"></span>
              Watchlist
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAthlete">
            <a
              class="nav-link primero"
              [routerLink]="['/favorites']"
              routerLinkActive="active"
            >
              <span data-feather="home"></span>
              Mis favoritos
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAthlete">
            <a
              [routerLink]="['/catalogo-deportistas']"
              routerLinkActive="active"
              class="nav-link"
              href="#"
            >
              <span data-feather="users"></span>
              Catálogo
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAthlete">
            <a
              class="nav-link"
              [routerLink]="['/portfolio']"
              routerLinkActive="active"
            >
              <span data-feather="shopping-cart"></span>
              Portfolio
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAthlete">
            <a
              [routerLink]="['/offers-made']"
              class="nav-link"
              routerLinkActive="active"
              href="#"
            >
              <span data-feather="users"></span>
              Ofertas realizadas
            </a>
          </li>
          <li class="nav-item" *ngIf="!isSponsor">
            <a
              [routerLink]="['/offers']"
              routerLinkActive="active"
              class="nav-link"
              href="#"
            >
              <span data-feather="users"></span>
              Mis ofertas
            </a>
          </li>
          <!-- <li class="nav-item" *ngIf="!isSponsor">
            <a
              [routerLink]="['/editprofile/athlete']"
              routerLinkActive="active"
              class="nav-link"
              href="#"
            >
              <span data-feather="users"></span>
              Editar perfil
            </a>
          </li> -->
          <li class="nav-item" *ngIf="!isSponsor">
            <a
              [routerLink]="['/create-new']"
              routerLinkActive="active"
              class="nav-link"
              href="#"
            >
              <span data-feather="users"></span>
              Publicar noticia
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Soporte
            </a>
          </li> -->
        </ul>

        <h6
          class="
            sidebar-heading
            d-flex
            justify-content-between
            align-items-center
            px-3
            mt-4
            mb-1
            text-muted
          "
        >
          <span>Estadísticas</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link encima">
              <span data-feather="file-text"></span>
              Última Quincena
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link encima">
              <span data-feather="file-text"></span>
              Mensuales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link encima">
              <span data-feather="file-text"></span>
              Trimestrales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link encima">
              <span data-feather="file-text"></span>
              Anuales
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
