.list-group-item {
  -webkit-box-shadow: 6px 6px 31px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 31px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 31px -7px rgba(0, 0, 0, 0.75);
}

img {
  height: 80px;
  width: 120px;
}

.btn-primary:hover {
  font-weight: 600;
}

.btn-warning:hover {
  font-weight: 600;
}

.waiting{
  color: #e9b200;
}

.accepted{
  color: rgb(2, 114, 2);
}




