body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.btn-danger {
  background-color: rgb(238, 0, 0);
  border: 1.5px solid #c41a20;
}

.btn-danger:hover {
  background-color: #e52026;
  border: 2px solid #8a1418;
  font-weight: 600;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

h3 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6 !important;
  margin-bottom: 1rem;
}

.iconowatch {
  width: 50px;
  height: 50px;
}

td {
  vertical-align: middle;
}

.nom-perfil p {
  margin-bottom: 0;
  align-items: center;
}

td button {
  transform: skewX(173deg);
  padding: 5px 20px 5px 20px;
}

@media (max-width: 576px) {
  .arriba {
    margin-bottom: 0;
  }

  .ocultar-contenido {
    display: none;
  }

  td button {
    transform: skewX(173deg);
    display: flex;
    align-content: center;
    width: 13vh;
  }
}
@media (min-width: 760px) and (max-width: 900px) {
  .arriba {
    margin-bottom: 0;
  }

  .ocultar-tablet {
    display: none;
  }

  th:last-child {
    width: 100vh;
    height: 45px;
    display: flex;
  }

  td button {
    transform: skewX(173deg);
    display: flex;
    align-content: center;
    width: 10vh;
  }
}

@media (min-width: 1199.98px) {
  .arriba {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1399.98px) {
  .arriba {
    margin-bottom: 1rem;
  }
}
