.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.sponsors div:first-child {
  border-right: 1px solid #eee;
}

.btn {
  transform: skewX(173deg);
}

.leyenda {
  font-size: 12px;
  color: #646464;
}
