<div class="container pt-5">
  <div class="row sponsors">
    <div class="col-12 col-md-4 col-offset-md-2">
      <h3>Instrucciones</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        aperiam quo praesentium porro. Animi officia ducimus explicabo maxime
        reprehenderit. Distinctio quod ipsa amet, corporis dolore obcaecati
        blanditiis quasi. Minima, aut!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        aperiam quo praesentium porro. Animi officia ducimus explicabo maxime
        reprehenderit. Distinctio quod ipsa amet, corporis dolore obcaecati
        blanditiis quasi. Minima, aut!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        aperiam quo praesentium porro. Animi officia ducimus explicabo maxime
        reprehenderit. Distinctio quod ipsa amet, corporis dolore obcaecati
        blanditiis quasi. Minima, aut!
      </p>
    </div>
    <div class="col-12 col-md-4 col-offset-md-2 pb-5">
      <h4>Formulario de registro</h4>
      <form [formGroup]="registerSponsor" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="empresa"> Empresa </label>
          <input
            type="text"
            class="form-control"
            id="empresa"
            formControlName="empresa"
          />
        </div>
        <div class="form-group mb-3">
          <label for="email"> Email </label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
          />
        </div>
        <div class="form-group mb-3">
          <label for="password"> Password </label>
          <input
            type="text"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="form-group mb-3">
          <input
            type="checkbox"
            name="condiciones"
            id="condiciones"
            formControlName="condiciones"
          />
          <label class="ms-2" for="condiciones"
            >Acepto las condiciones de uso</label
          >
        </div>

        <input type="submit" class="btn btn-danger" value="Registrar" />
      </form>
    </div>
  </div>
</div>
