<app-sidebar></app-sidebar>
<div class="background">
  <div class="container profile pt-5">
    <div class="row g-5">
      <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-md-4 offset-md-3 col-lg-4 offset-lg-2 col-xl-4 offset-xl-2 col-xxl-4 offset-xxl-2 mb-3">
        <div class="card">
          <div class="card-body">
            <!-- PONER IMAGEN: recordar la ruta: urlBack + miDeportista?.photo   -->
            <div class="d-flex flex-column align-items-center text-center">
              <img
                [src]="urlBack + miDeportista?.photo"
                [alt]="miDeportista?.name"
                class="rounded-circle"
                width="150"
              />
              <div class="mt-3">
                <h2>{{ miDeportista?.name }} {{ miDeportista?.surname }}</h2>
                <h4 class="text-sport mb-1">{{ miDeportista?.sport }}</h4>
                <h5 class="text-danger font-size-sm">
                  {{ miDeportista?.country }}
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3 pb-1 pt-1">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
            >
              <h6 class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-globe me-2 icon-inline"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" y1="12" x2="22" y2="12"></line>
                  <path
                    d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
                  ></path>
                </svg>
                Website
              </h6>
              <span class="text-secondary">Seguidores</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
            >
              <h6 class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-twitter me-2 icon-inline text-info"
                >
                  <path
                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                  ></path>
                </svg>
                Twitter
              </h6>
              <span class="text-secondary">Seguidores</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
            >
              <h6 class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-instagram me-2 icon-inline text-danger"
                >
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path
                    d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                  ></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
                Instagram
              </h6>
              <span class="text-secondary">Seguidores</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
            >
              <h6 class="mb-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-facebook me-2 icon-inline text-primary"
                >
                  <path
                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                  ></path>
                </svg>
                Facebook
              </h6>
              <span class="text-secondary">Seguidores</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 offset-0 col-sm-12 offset-sm-0 col-md-5 offset-md-0 col-lg-6 offset-lg-0 col-xl-6 offset-xl-0 col-xxl-6 offset-xxl-0">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Objetivo a alcanzar</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ miDeportista?.quantitydemand }} tokens
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Alcanzado</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ miDeportista?.percentage }} %
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Seguidores RRSS</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{miDeportista?.followers}}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Rendimiento deportivo</h6>
                <app-chart-rendimiento></app-chart-rendimiento>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-3">Sponsors</h6>
              </div>
              <div class="d-flex justify-content-around">
                <span *ngFor="let sponsor of sponsors">{{sponsor?.company}}</span>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="d-grid gap-2">
                <button
                  (click)="confirmFavorite()"
                  (click)="addFavorite()"
                  class="btn btn-primary btn-fluid"
                  *ngIf="!isFavorite"
                >
                  Añadir a mis favoritos
                </button>
                <button
                  (click)="removeFavorite()"
                  (click)="confirmFavorite()"
                  class="btn btn-secondary btn-fluid"
                  *ngIf="isFavorite"
                >
                  Eliminar de favoritos
                </button>
                <button
                  class="btn btn-danger btn-fluid"
                  [routerLink]="['/envio-propuesta', miDeportista?.id]"
                >
                  Enviar propuesta
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngIf="!miDeportista">
          <h5 class="text-muted mt-4">El deportista seleccionado ya no está disponible</h5>
        </div> -->
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-5">
      <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">
        <h5 class="mt-3 mb-3">Deportistas similares por rendimiento: </h5>
      </div>
      <div *ngFor="let athleteByResults of athletesByResults" class="col recommend col-md-9 offset-md-3 col-lg-4 offset-lg-2" [routerLink]="['/deportista/', athleteByResults?.id]">
        <div class="card h-100">
          <img [src]="urlBack + athleteByResults?.photo" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{athleteByResults?.name}} {{athleteByResults?.surname}}</h5>
            <p class="card-text">Sport: {{athleteByResults?.sport}}</p>
            <p class="card-text">Country: {{athleteByResults?.country}}</p>
            <p class="card-text">Tokens: {{athleteByResults?.quantitydemand}}</p>
            <p class="card-text">Fecha expiración: {{athleteByResults?.limitdate | date: 'dd/MM/yy'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
      <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">
        <h5 class="mt-3 mb-3">Deportistas similares por nº tokens disponibles: </h5>
      </div>
      <div *ngFor="let athleteByToken of athletesByToken" class="col recommend col-md-9 offset-md-3 col-lg-4 offset-lg-2" [routerLink]="['/deportista/', athleteByToken?.id]">
        <div class="card h-100">
          <img [src]="urlBack + athleteByToken?.photo" class="card-img-top" [alt]="athleteByToken?.name">
          <div class="card-body">
            <h5 class="card-title">{{athleteByToken?.name}} {{athleteByToken?.surname}}</h5>
            <p class="card-text">Sport: {{athleteByToken?.sport}}</p>
            <p class="card-text">Country: {{athleteByToken?.country}}</p>
            <p class="card-text">Tokens: {{athleteByToken?.quantitydemand}}</p>
            <p class="card-text">Fecha expiración: {{athleteByToken?.limitdate | date: 'dd/MM/yy'}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
      <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">
        <h5 class="mt-3 mb-3">Deportistas similares por país: </h5>
      </div>
      <div *ngFor="let athleteByCountry of athletesByCountry" class="col recommend col-md-9 offset-md-3 col-lg-4 offset-lg-2" [routerLink]="['/deportista/', athleteByCountry?.id]">
        <div class="card h-100">
          <img [src]="urlBack + athleteByCountry?.photo" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{athleteByCountry?.name}} {{athleteByCountry?.surname}}</h5>
            <p class="card-text">Sport: {{athleteByCountry?.sport}}</p>
            <p class="card-text">Country: {{athleteByCountry?.country}}</p>
            <p class="card-text">Tokens: {{athleteByCountry?.quantitydemand}}</p>
            <p class="card-text">Fecha expiración: {{athleteByCountry?.limitdate | date: 'dd/MM/yy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


